.navigation {
    background-color: rgb(3, 135, 93);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

.links {
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.links li {
    list-style: none;
}

.links a {
    color: white;
    font-family: sans-serif;
}
